.hero {
    position: relative;
    background-image: url('../assets/himage.jpg');
    background-size: 100%;
    
}

.heroleft {
    background-image: url('../assets/heroLeft.png');
    background-size: 70%;
    background-repeat: no-repeat;

}

 .gauche, .droite {
    position: absolute !important;
    top: 35%;
}
.gauche {
    left: -3% !important;
}

.droite {
    right: -3% !important;
}

.menuHero {
  transform: translate(0,-70px);
}