.hero {
    position: relative;
    background-image: url('../assets/himage.png');
    background-size: 100%;
    
}

.heroleft {
    background-image: url('../assets/heroLeft.png');
    background-size: 78%;
    background-repeat: no-repeat;

}

 .gauche, .droite {
    position: absolute !important;
    top: 43%;
}
.gauche {
    left: -3% !important;
}

.droite {
    right: -3% !important;
}

