.xboxbtn {
 height:40px;
 padding-bottom: 8px;
 width: 145px;
  border: none;
  background-color: transparent;
    background-image: url('../btn_connect.svg');
    background-size: contain;
    background-repeat: no-repeat;
    
}


.xboxbtnsm {
    height:40px;
    padding-bottom: 8px;
    padding-right: 35px !important;
    width: 145px;
     border: none;
     background-color: transparent;
       background-image: url('../btn_see.svg');
       background-size: contain;
       background-repeat: no-repeat;
    
}

.xboxcolor {
   color: #107C10 !important
}

.animation path {
    stroke: red;
}

