.xboxbtn {
 height:40px;

 width: 145px;
  border: none;
  background-color: transparent;
    background-image: url('../btn_connect.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    
}


.xboxbtnsm {
    height:40px;
    padding-bottom: 7px;

    padding-right: 15px !important;
    width: 145px;
     border: none;
     background-color: transparent;
       background-image: url('../btn_see.png');
       background-size: contain;
       background-repeat: no-repeat;
       position: relative;
       color: rgba(31, 29, 29, 0.829) !important;
     
    
}

.xboxbtnsm::after {
    content: "";
    position: absolute;
    top: 15%;
    width: 25px;
    height: 25px;
    background-image: url('../fleche_btn.svg');
    background-repeat: no-repeat;
    right: 10%;
   

}

.xboxcolor {
   color: #107C10 !important
}

.animation path {
    stroke: red;
}

