.menu {
  display: flex;
  align-items: end !important;
}
.menu li {
  list-style: none;
  font-weight: 600;
  text-decoration: none;
}

.input-search-bar {
  border-radius: 15px;
  padding: 5px;
  border:none;
}

.search-bar {
 position: relative !important;
}
.search-bar .icon-search {
    position: absolute !important;
    top: 5%;
    right: 13px;
  
}
.search-bar input {
    padding-left: 15px;

}



.search-bar .icon-search svg {
    width: 25px;
}
